body{
background:#0b1326;
color:white;
font-family:Arial;
margin:0;
}

header{
text-align:center;
padding:12px;
font-size:22px;
background:#121c34;
}

.container{
display:flex;
padding:15px;
}

.videos{
flex:4;
}

.topcams{
display:flex;
gap:10px;
margin-bottom:10px;
}

.topcams img{
width:33%;
border-radius:10px;
}

.maincam img{
width:100%;
border-radius:12px;
}

.sidepanel{
flex:1;
margin-left:15px;
background:#101a2d;
padding:15px;
border-radius:10px;
}

button{
background:#34d07f;
border:none;
padding:10px;
width:100%;
color:white;
font-weight:bold;
margin-top:10px;
}

.status{
margin-top:20px;
background:#ff4b4b;
padding:8px;
border-radius:6px;
text-align:center;
}